[2017-02-06 13:49] mikekestemont opened #1 "Documentation"
- Add documentation, initially with docstrings in the sklearn-format.
- Add list of supported input file formats.

[2017-02-06 13:50] mikekestemont opened #2 "Installation"
- Add installation guidelines.
- pip install

[2017-02-06 14:00] PonteIneptique opened #3 "Add a known lemma ingester for post-correction"
Currently, you can't add unknown lemma for post correction. Just add one

[2017-02-06 14:00] PonteIneptique commented on #2
I can do this one :)

[2017-02-09 09:07] PonteIneptique commented on #2
A little improved by #4

[2017-02-09 09:09] PonteIneptique opened #5 "Pypi"
- [ ] Register the package as `philology-pandora` (?) on http://pypi.python.org/ ( See http://peterdowns.com/posts/first-time-with-pypi.html )
- [ ] Add me and @Jean-Baptiste-Camps as maintainers ? ( http://stackoverflow.com/questions/12857123/pypi-role-maintenance-owners-vs-maintainers )

Once this is done, it will be up to me to setup the repository for a `setup.py` ( See #6 )

[2017-02-09 09:10] PonteIneptique opened #6 "Setup.py"
- [x] Add a setup.py
- [x] Move commands to their submodules.
- [ ] Move base configs to package_data.

[2017-02-09 09:10] PonteIneptique commented on #3
@mikekestemont Is post-correction taking into account in the current training system ?

[2017-02-11 11:34] Jean-Baptiste-Camps opened #7 "Command-line interface for training"
- [x] Add a --load argument to training, to be able to (re)train a model in different sessions (need to write curr_nb_epochs somewhere).

[2017-02-11 11:47] Jean-Baptiste-Camps opened #8 "Main.py and tagger.train()"
I am not sure this one is worth an issue, but since there might be something I am missing here:
why do we use
[code]
in Main.py, instead of the existing
`    tagger.train()`
?

[2017-02-26 15:43] Jean-Baptiste-Camps opened #10 "Learning rate"
I have noticed something weird while retraining a model, and I think it has to do with learning rate. During the first training on the corpus (halve lr at 50), after 100 epochs, my results were seemingly hitting a ceiling:

    -> epoch  100 ...
    - Lowering learning rate > was: 0.004999999888241291 , now: 0.0025
    Epoch 1/1
    37853/37853 [==============================] - 200s - loss: 2.654

[2017-04-08 13:23] mikekestemont commented on #1
Working on this in the form of doc strings and making progress (just a couple of modules to go.) Stay tuned...

[2017-04-24 13:44] mikekestemont opened #11 "Abstract over model (pytorch vs keras)"
Things needed for abstracting over the Keras vs Pytorch API:

- serialization: save and load model to dir (including model definition and weights)
- model.compile() should move to model*.py
- model.predict()
- get weights for the embeddings (not essential: mainly for viz)
- adjust learning rate
- model.fit()

[2017-04-27 20:33] mikekestemont commented on #11
I created the new pytorch branch and implemented the model abstraction there + added more documentation. It should now be possible for @emanjavacas to provide a PyTorch model on top of the Keras (Theano/Tensforflow) model. Let me know if there are any issues that arise.

[2017-04-27 20:34] mikekestemont commented on #1
Most of the documentation for now lives under the pytorch branch. Will continue working on it as the pytorch branch progresses.

[2017-04-28 08:56] emanjavacas commented on #11
I'll take over this, however I just realized that I don't seem to have push access. Perhaps due to the fact that I am still not a member of the pandora-team?

[2017-04-28 08:59] PonteIneptique commented on #11
Fixed :)

[2017-04-28 09:02] emanjavacas commented on #11
Thanks! :-)

[2017-05-03 22:24] Jean-Baptiste-Camps opened #12 "TypeError: to_categorical() got an unexpected keyword argument 'nb_classes'"
I have recently tried to use Pandora with Python 3 on Ubuntu 16.04, with a newer install of all packages. Doing this, I encountered an error, that might be related to a change in Keras (?):
`    TypeError: to_categorical() got an unexpected keyword argument 'nb_classes'`
I will try to examine it more closely soon.

    Traceback (most recent call last):
    File "main.py", line 59, in <module>

[2017-05-04 08:41] mikekestemont commented on #12
Update your keras to the latest version (although this will introduce new bugs that I still have to sort out: it seems like bidirectional recurrent can't be saved properly due to a bug in keras). Convolutional layers still work.

[2017-05-04 08:41] #12 closed, assigned to nobody

[2017-05-04 08:41] Jean-Baptiste-Camps commented on #12
Ok, rolling back
from Keras==2.0.4 to Keras==1.2.0
and
from tensorflow==1.1.0 to tensorflow==0.12.1
solved the issue for now.

[2017-05-04 08:42] Jean-Baptiste-Camps commented on #12
I have tried updating keras to bleeding edge (via git+git install), but it did not seem to solve the issue. And it is using convolutionnal that I got this bug.

[2017-05-04 08:47] mikekestemont commented on #12
Ah, I see: I pushed my latest changes to a new branch (pytorch) instead of
master. sorry!

Prof. Dr. Mike Kestemont | www.mike-kestemont.org | Twitter:
@Mike_Kestemont | mike.kestemont@uantwerp.be | mike.kestemont@gmail.com |
University of Antwerp | City Campus, Prinsstraat 13, room D. 118 I B-2000
Antwerp, Belgium | tel. +32 (0)3 265.42.54

watch it in HD on Vimeo: https://vimeo.com/70881172

On

[2017-05-07 12:03] emanjavacas opened #13 "Change output type of keras model"
Currently I am using a dict as output of the pytorch model
https://github.com/hipster-philology/pandora/blob/pytorch/pandora/impl/pytorch/model.py#L256-L267
This should be matched by the keras branch as well as the client code in tagger.py (example: https://github.com/hipster-philology/pandora/blob/pytorch/pandora/tagger.py#L379)

[2017-05-07 12:36] emanjavacas commented on #13
should be working by #e1aef5d

[2017-05-07 12:36] #13 closed, assigned to nobody

[2017-05-08 09:40] emanjavacas opened #14 "One-hot format for output data"
It seems that keras needs one-hot format for the targets in order to compute the loss,
Pytorch however requires integer format. It makes sense to default to the pytorch format
and have the keras implementation call to_categorical on it rather than having pytorch
undoing the categorical (which means twice as much computation)

[2017-05-08 10:29] mikekestemont commented on #14
I agree (also needs much less memory). Feel free to make the necessary
changes in the pytorch branch.

Prof. Dr. Mike Kestemont | www.mike-kestemont.org | Twitter:
@Mike_Kestemont | mike.kestemont@uantwerp.be | mike.kestemont@gmail.com |
University of Antwerp | City Campus, Prinsstraat 13, room D. 118 I B-2000
Antwerp, Belgium | tel. +32 (0)3 265.42.54

watch it in HD on Vimeo: https://vimeo.com/7

[2017-05-08 12:57] emanjavacas commented on #14
Done as per 007db3f1ffd82dfe5690a3ccd5afa7cefb22da41. To keep it simple I just decided to add an argument to Preprocessor constructor `categorical` specifying whether the data should be turned into binary format or not.

[2017-05-08 12:57] #14 closed, assigned to nobody

[2017-05-08 13:28] emanjavacas opened #15 "lemma_char_idx"
I am trying out both models for config with `lemma == 'generate'` and there seems to be a bug in preprocessing:

[code]

I started checking this out and it seems there is an issue with the naming of a couple of variables involving "lemma_char_idx", "lemma_char_vocab", and "lemma_char_lookup".

Perhaps @mikekestemont can have a look at this?

I had to add some other changes so make sure you pull fi

[2017-05-08 20:40] mikekestemont commented on #15
Sigh... My bad. I can look into this on Wednesday. In the meanwhile: the
characters of the lemmas are also given as full one-hot matrices in the
case of include_lemma="generate". Doesn't that pose the same problem as
with the one-hot encoding for include_lemma='label?'

Prof. Dr. Mike Kestemont | www.mike-kestemont.org | Twitter:
@Mike_Kestemont | mike.kestemont@uantwerp.be | mike.kestemont@gmail.

[2017-05-09 07:47] emanjavacas commented on #15
Indeed, I had assumed that binarization only occurs when to_categorical is called, but it seems `vectorize_lemma` it also doing this. I guess the same approach should work. I'll add an option specifying the desired output type.

[2017-05-09 07:50] emanjavacas commented on #15
Also, is there any reason why `vectorize_lemmas` uses `float32` (as opposed to integers)?

[2017-05-09 09:28] mikekestemont commented on #15
Float32 is required for calculating the categorical crossentropy in keras.
As to the may self.-variables: I agree that this is a mess. Would it oerhaps make more sense to load the params in a separate module which is all imported by all other modules, so that we have these available as a sort of static variable at the app-levelv

[2017-05-10 08:01] emanjavacas commented on #15
Yes, something like that would be fine

[2017-07-12 13:53] Jean-Baptiste-Camps opened #16 "Difference in length between predictions and input tokens"
I am encountering some strange bugs, with the current pytorch branch, with some data (and not with others). I suspect it might be related to some character encoding problem, perhaps. I have been trying to solve it, but could not pinpoint the cause. Basically, after the first epoch, I have an error due to a difference in length between predictions and input tokens:

    -> epoch  1 ...
    Epoch 1/

[2017-07-12 14:18] emanjavacas commented on #16
the pytorch branch is still being developed and not much has been tested
yet, I'd recommend to not use it for the time being... hopefully we will
have time to work on it over summer.

best!

2017-07-12 15:53 GMT+02:00 Jean-Baptiste-Camps <notifications@github.com>:

--
Enrique Manjavacas.

[2017-09-24 12:32] PonteIneptique opened #18 "Unseen.py on directories lacks new line"
When running unseen.py on a directory, the output files have no new lines.

[2017-09-24 12:36] Jean-Baptiste-Camps commented on #18
Already corrected in #9

[2017-09-24 12:46] PonteIneptique opened #20 "Opt-in epoch step results evaluation with CLI"
Make the printing of tests during training optional.
Might be related to #8

[2017-09-24 12:53] PonteIneptique commented on #18
Fixed in #9

[2017-09-24 12:53] #18 closed, assigned to PonteIneptique

[2017-09-24 13:00] PonteIneptique opened #21 "Clean-up CLI system"
Additional step from #20 : clean up the cli so it does not use that much defaults variable and does not assume too much.

[2017-09-24 13:25] #21 closed, assigned to PonteIneptique

[2017-09-24 13:28] Jean-Baptiste-Camps opened #23 "Config parameters not being saved from actual parameters"
For now, when a model is saved, config.txt is just a copy of the original config.txt, instead of being saved from the parameters being used. This prevents, for instance, modifying a parameter during run (for instance a parameter counting the number of epochs ran so far, as needed for  #7  ). Here is the code:

        # save config file:
        if self.config_path:
            # make sure that we

[2017-09-24 13:36] Jean-Baptiste-Camps commented on #20
Would it not be good too to be able to test only every nth epoch ? Training takes some time, and maybe we don't need to do it each time.

[2017-09-24 13:36] PonteIneptique commented on #20
I have not looked at the repercussion of this. Maybe it can be another issue, once this one is solved ? ;)

[2017-09-24 13:43] PonteIneptique commented on #20
@mikekestemont I am not sure, looking at the code, that dev_prev and train_pred are used by the NN. Could you confirm this ?

[2017-09-24 13:57] PonteIneptique commented on #23
Instead, I'd do

[code]
To ensure you do not overwrite your parameters.

Maybe though, you should add a warning when the config of the model is part of the model dir. You do not want to overwrite you parameters with potentially new ones without noticing ;)

[2017-09-24 14:12] Jean-Baptiste-Camps commented on #23
Actually, the idea is to include saving current configuration with saving the model. So, the idea is indeed to overwrite `./model/myModel/config.txt`, but not `./config.txt`.

[2017-09-24 14:17] PonteIneptique commented on #23
If you were to remove the config file, you need to add an if, somewhere, which would raise an Error when `self.config_path == os.sep.join((self.model_dir, 'config.txt')`

[2017-09-24 14:23] Jean-Baptiste-Camps commented on #23
I see your point, but, in practice, the new config.txt would differ only from the old (overwritten) one by the value of curr_nb_epochs. And, when you load a model, you have to specify the model/myModel/config.txt for loading to work. So, if I do like you suggest, when you load and retrain a model, you wouldn't be able to save config.txt.

If it really is necessary, I could do something like,

[cod

[2017-09-24 14:25] PonteIneptique commented on #23
That would be fine with me. But I'd add a warning message :)

[2017-09-24 14:30] Jean-Baptiste-Camps commented on #23
Ok, then:

[code]

[2017-09-24 14:37] Jean-Baptiste-Camps commented on #20
Ok, the current code causes an issue, or, at least, CLI and documentation need to be modified.
If I do

    python3 main.py config_test.txt --dev data/test/dev --train data/test/train --test data/test/test

I get the error

    raise ValueError('Please do not call .test() if no test data is available.')
    ValueError: Please do not call .test() if no test data is available.

Though 'test' is not

[2017-09-24 14:51] PonteIneptique commented on #20
I do not see how this would have changed this. Can you show the config_test.txt content ?

[2017-09-24 14:53] PonteIneptique commented on #20
I'd say it's based on the loading of a precedent config file where include_test could be none. Bue I'd need to see your config_test.txt

[2017-09-24 14:55] Jean-Baptiste-Camps commented on #20
Sorry, meanwhile I saw this was because of my config.txt.

[2017-09-24 14:56] PonteIneptique opened #25 "Config loading should make sure to import right types"
https://github.com/hipster-philology/pandora/blob/e16350b41c1a5bda2be3ca4fd3fc81d960eb672e/pandora/tagger.py#L117-L123 should be converted to bool, according to https://github.com/hipster-philology/pandora/blob/e16350b41c1a5bda2be3ca4fd3fc81d960eb672e/pandora/tagger.py#L44-L51

[2017-09-24 14:56] #20 closed, assigned to nobody

[2017-09-24 14:57] PonteIneptique commented on #23
Good to me ;)
But I'd probably warn before the whole trainer run

[2017-09-24 14:58] PonteIneptique opened #26 "Testing every nth epochs to save time"
@Jean-Baptiste-Camps in #20

We are awaing on @mikekestemont feeling if this is gonna break anything. My own feeling is that it would not.

[2017-09-24 15:05] PonteIneptique commented on #23
Fixed by #27

[2017-09-24 15:05] #23 closed, assigned to nobody

[2017-09-24 15:06] PonteIneptique commented on #25
as you are on it, could you add something for this @Jean-Baptiste-Camps ?

[2017-09-24 15:12] Jean-Baptiste-Camps commented on #7
Finished with #27

[2017-09-24 15:12] #7 closed, assigned to nobody

[2017-09-24 15:14] PonteIneptique commented on #25
https://stackoverflow.com/questions/715417/converting-from-a-string-to-boolean-in-python#comment37671084_18472142

[2017-09-25 07:01] mikekestemont commented on #20
Are you sure `dev_prev` and `train_pred`are the exact variable names used? In which file?

[2017-09-25 07:09] PonteIneptique commented on #26
@MikeKestemont I'll answer to you question here :
The question is about tagger.py :

[code]

[2017-09-25 07:09] PonteIneptique commented on #20
See my answer in the correct issue https://github.com/hipster-philology/pandora/issues/26#issuecomment-331795120

[2017-09-25 07:10] mikekestemont commented on #26
Well, they are obviously used here for scoring: score_dict =
self.get_score_dict(train_preds, dev_preds, verbose=verbose)
Right?

On Mon, Sep 25, 2017 at 9:09 AM, Thibault Clérice <notifications@github.com>
wrote:

[2017-09-25 07:14] PonteIneptique commented on #26
This I got but I am not sure how necessary is score dict. And it could be that outside prototyping it would be good to avoid prediction if possible. My feeling, looking at the code, is that score dict is only useful for humans.

[2017-09-25 07:17] PonteIneptique opened #28 "Printing or exporting score dict should be done outside of evaluation and test"
Just using this outside would allow for lighter API and centralized "logging". I can see the use of an export to csv for example.

[2017-09-25 07:32] mikekestemont commented on #26
Score dict is what prints your current accuracies so I would say it is crucial to monitor training progress, especially to add early stopping one day.

[2017-09-25 07:34] mikekestemont commented on #28
I agree that through logging we could better control  where this stuff gets shown, but by default I would keep it visible during training.

[2017-09-25 07:46] PonteIneptique commented on #26
I agree but this means it can be a little more modular : test first
ten,then monitor each ten.(again, this would be an option, not the default )

Le 25 sept. 2017 9:32 AM, "Mike Kestemont" <notifications@github.com> a
écrit :

[2017-09-25 07:47] PonteIneptique commented on #28
Completely agree.

Le 25 sept. 2017 9:34 AM, "Mike Kestemont" <notifications@github.com> a
écrit :

[2017-09-25 08:25] PonteIneptique commented on #28
I think get_score_dict should get fed to a output class that could : print, log, export csv of stats. This would also allow for less modifications on the long term in tagger.py

[2017-09-25 08:33] mikekestemont commented on #28
fine with me

On Mon, Sep 25, 2017 at 10:25 AM, Thibault Clérice <notifications@github.com

[2017-09-26 14:47] Jean-Baptiste-Camps opened #31 "Failed to open TrueType font"
Training, I encountered an error that caused the program to stop, because of a missing font (I usually get a warning about this, but I never saw it crashing everything). Curiously, it happened only at epoch 15.

[code]

[2017-09-26 14:59] Jean-Baptiste-Camps commented on #31
Maybe a local problem… It looks like https://stackoverflow.com/questions/45870858/runtimeerror-failed-to-open-truetype-font-in-matplotlib-backends-pdf-in-python

[2017-09-27 05:41] mikekestemont commented on #31
My bad, we could take out the font specification so that it falls back to whatever *is* available?

Sent from my iPhone

[2017-09-27 05:43] #6 closed, assigned to PonteIneptique

[2017-09-27 05:43] #26 closed, assigned to nobody

[2017-09-27 05:43] #28 closed, assigned to nobody

[2017-09-27 06:11] PonteIneptique commented on #25
This was actually covered by some code, but since #29 we have now a test for it !

[2017-09-27 06:11] #25 closed, assigned to nobody

[2017-09-27 14:29] Jean-Baptiste-Camps commented on #31
I guess the change has to be made in tagger.py, around line 516,

[code]

We could switch fontdict to None or rather 'family' to 'sans-serif' and let the default family definition be used. Or we could redefine it, if we want to make Arial first choice.

If it is ok, I'll change this with 'sans-serif'.

[2017-09-27 15:33] Jean-Baptiste-Camps opened #32 "Specifying --dev files mandatory in CLI"
Using --dev files is supposedly not mandatory, since the config parameter include_dev can be set to False. But the cli needs --dev path to be defined, even not to use it afterwards. So, right now, even with config

[code]

You need to use
[code]

[2017-09-27 16:13] #32 closed, assigned to Jean-Baptiste-Camps

[2017-09-27 16:17] Jean-Baptiste-Camps opened #34 "Figures not being closed"
This one has been around for a long time and does not cause much problems:

[code]

Solving it is simple, I think. We just need to add

[code]
in save().

[2017-09-27 16:27] #34 closed, assigned to Jean-Baptiste-Camps

[2017-09-27 16:27] #31 closed, assigned to Jean-Baptiste-Camps

[2017-09-27 16:29] Jean-Baptiste-Camps opened #36 "Updating to Keras 2 API ?"
Functions used by tagger.py will be deprecated in future Keras versions, and we might need to update them to the Keras 2 API. Here are the warnings:

[code]

I wonder if it make sense to do it now, or if we should wait for the time where we will merge back the pytorch branch.

[2017-09-27 17:46] mikekestemont commented on #31
Sans-serif is fine for me!

[2017-09-27 17:47] mikekestemont commented on #34
Exactly. My bad.

[2017-09-27 18:09] PonteIneptique opened #37 "Add a link to articles in the README.md"
I feel like this is required to promote the thing and for people that would find it

[2017-09-29 08:03] emanjavacas commented on #15
- [ ] Check where the binarization is happening inside client code
- [ ] Move it out and into impl/keras/...

[2017-09-29 08:09] emanjavacas opened #38 "Merging the pytorch branch"
Hello everybody,

We are planning to retake work on the pytorch branch of the repository. In the meantime there has also been some work on the master branch (kudos!). I checked for compatibility and the branches wont merge automatically, but I have the feeling it shouldn't be too much work to make it work.

If you agree, I could open a PR and somebody else could review it (otherwise I could do it

[2017-09-29 08:25] emanjavacas commented on #38
~Could we add a milestone for this? (I am currently just a member and I don't seem to be able to do it).~
Member can also create milestones...

[2017-09-29 08:42] Jean-Baptiste-Camps commented on #38
Hi,
This is great news ! I'm all for merging the two branches. It will also help if we want to be able not to lag too much behind in the Keras evolution as well.  I think that, before merging, we should also make another release (0.0.1b), in case we need a stable version of Pandora.
Meanwhile, I have created the milestone.

[2017-09-29 09:13] emanjavacas commented on #15
I added the categorical option to Preprocessor, but there is still an error due to the fact that lemma_char_idx doesn't seem to be added to the object itself. Could you @mikekestemont  look into it?

[2017-09-29 11:03] PonteIneptique commented on #38
Please go ahead ! :)

[2017-09-29 11:03] PonteIneptique commented on #38
Can we keep the ability to switch to either a tensorflow or a keras model ?

[2017-09-29 12:50] jedgusse commented on #15
Hi @mikekestemont, I had a look on the train to the bug, could it be that the `lemma_char_idx` is supposed to cover the `char_vocab` dictionary that is returned from `def index_characters()`? Apparently the dictionary's supposed to contain indices to decode the predictions to lemmas.

[2017-09-29 13:47] jedgusse commented on #15
Yeah I think `self.lemma_char_idx` was an unwanted alias for `self.lemma_char_lookup`.

[2017-09-29 13:52] PonteIneptique commented on #15
@jedgusse @mikekestemont @emanjavacas It would be greatly appreciated, for future development, that ivar would be documented such as

[code]

and that they'd be created on initiation, even though they could be empty. This would avoid this kind of situation in the future :)

[2017-09-29 15:14] mikekestemont commented on #15
Thanks @jedgusse that must have been it (silly naming error when refactoring). I have pushed a fix but I haven't been able to test it yet, because I ran into a new issue, ie that the keras load function isn't static yet. I'll fix that in the evening.

[2017-09-29 15:34] mikekestemont opened #39 "Logo"
Perhaps we can use a logo? An icon with a gift-wrapped box perhaps? :)

[2017-09-29 16:02] PonteIneptique commented on #39
I have a friend who owe me one. Maybe I can ask him? He did the Capitains
logo...

Le 29 sept. 2017 5:34 PM, "Mike Kestemont" <notifications@github.com> a
écrit :

[2017-09-29 16:52] mikekestemont opened #40 "RIP Theano"
We should stop supporting Theano as a keras backend -- partly because the current cannot support it anymore, partly because it won't be developed any further...

[ ] add something about this to the README

[2017-09-29 16:54] PonteIneptique commented on #40
Was theano still used a lot ? I did not see it that much :)

[2017-09-29 16:56] mikekestemont commented on #40
No, it was dying a graceful death...

[2017-09-29 17:36] Jean-Baptiste-Camps commented on #39
Not sure this is adaptable, but there is of course a lot of nice Pandora-related artwork, that I partly discover thinking about the logo. I like the «sittting on a rock with the box» version of Jules Joseph Lefebvre (https://fr.wikipedia.org/wiki/Pandore#/media/File:Pandora.jpg ; there is also a few by Gustave Moreau, like http://www.culture.gouv.fr/Wave/image/joconde/0008/m504101_95cn17076_p.jpg)

[2017-09-29 18:08] mikekestemont commented on #39
- Sure, ask your friend!
- I was perhaps more thinking of an icon than a photographic something (for clarity in favicons etc.)

[2017-09-29 18:09] mikekestemont commented on #36
This is taken care of in pytorch branch so I'll close this for now.

[2017-09-29 18:09] #36 closed, assigned to nobody

[2017-09-29 18:10] mikekestemont commented on #8
This makes sure that your tagger gets saved after every epoch... Fine with me to change this!

[2017-09-29 18:10] #8 closed, assigned to nobody

[2017-09-29 18:13] mikekestemont commented on #15
This should be solved by my latest commits in the pytorch branch.
@jedgusse @emanjavacas can you verify?

[2017-09-29 18:15] mikekestemont commented on #2
Note that we can only support tensorflow anymore for keras models, and that in the keras config file we need settings:

[code]
Should we enforce this in the code?

[2017-09-29 18:18] mikekestemont commented on #10
Aha, this is because I didn't correctly anticipate the retraining scenario. Right now, the reloaded models don't explicitly get assigned a fresh learning, so they will switch to some sort of default. This means that we should pipe in the learning rate from the config file when reloading the model.

[2017-09-29 18:18] mikekestemont commented on #16
Let me close this for now.

[2017-09-29 18:20] mikekestemont commented on #5
That would be cool. I'm only worried that Tensorflow/Pytorch are not that easy to pip-install yet. Would that be an issue?

[2017-09-29 18:22] mikekestemont commented on #3
It's an option in the config file: if `postcorrect` is set to `True`, the generated tokens will be convert to their closest Levenshtein neighbor. It should be relatively easy to manipulate to known lemma list which is stored as plain text under the model dir. You can do this already manually right now before reloading the model but we could also add an option for this.

[2017-09-29 18:23] mikekestemont commented on #11
We can take a fresh start here!

[2017-09-29 18:23] mikekestemont commented on #1
Is there enough docstring documentation to close this?

[2017-09-29 22:22] Jean-Baptiste-Camps commented on #39
Sure, I was just mentioning it for inspiration !

[2017-09-30 04:49] mikekestemont commented on #39
The storage jar is also cool of course: maybe a real old school one?
Like[image:
Gerelateerde afbeelding]

On Sat, Sep 30, 2017 at 12:22 AM, Jean-Baptiste-Camps <
notifications@github.com> wrote:

[2017-09-30 05:30] PonteIneptique commented on #39
Whatever we use, I want it to have a moustache. A hipster jar is fine with me.

[2017-09-30 05:34] mikekestemont commented on #39
A jar with a moustache? :-)

On Sat, Sep 30, 2017 at 7:30 AM, Thibault Clérice <notifications@github.com>
wrote:

[2017-09-30 05:37] PonteIneptique commented on #39
One cannot un see it when it has imagined it.

[2017-09-30 06:51] PonteIneptique commented on #39
(Excuse me for bad drawing) I was thinking about something along these lines
![img_20170930_084954](https://user-images.githubusercontent.com/1929830/31043465-890b50fc-a5bc-11e7-970d-5c8d73ecbb2d.jpg)

(For a better idea of the jar...)

![pandora11l](https://user-images.githubusercontent.com/1929830/31043468-90e11050-a5bc-11e7-8f53-2dcb4b026af9.jpg)

[2017-09-30 06:59] mikekestemont commented on #39
Haha, I think we're gonna need a vote on this :-) I like the drawing.

On Sat, Sep 30, 2017 at 8:51 AM, Thibault Clérice <notifications@github.com>
wrote:

[2017-09-30 14:16] emanjavacas commented on #15
seems to be fixed.
I am still wondering about the float issue. Currently lemma targets are encoded as floats (so I have to convert back to ints inside the pytorch model (which isn't too nice). You said, keras needs floats for the cross-entropy loss, but how come all other targets (pos and morph) do get ints? Their losses is also a crossentropy, right?

[2017-09-30 14:18] emanjavacas commented on #38
Sure, I have set up an interface and we are trying to make sure that you can load either model.
That said, the goal is to use pytorch to be more flexible and get performance improvements, so in the long run there might not be too compelling reasons to use the keras implementaiton.

[2017-09-30 14:23] PonteIneptique commented on #38
Good for me :)

[2017-09-30 16:48] mikekestemont commented on #15
Are we talking about the way tokens are inputted on a character by
character basis? I could also make the keras models depend on embeddings
for the characters? Would that be easier?

On Sat, Sep 30, 2017 at 4:16 PM, Enrique Manjavacas <
notifications@github.com> wrote:

[2017-09-30 17:09] emanjavacas opened #41 "Padding, end and beginning of sequence symbols"
The current approach of using '%', '$' and '|' is very brittle if the input text includes one of those characters.
I think this could be abstracted using less ambiguous symbols and putting as constants somewhere in a utils.py file instead of hardcode them.

[2017-09-30 17:13] emanjavacas commented on #15
Mmh, I just mean that the lemma targets are floats, where as pos targets are integers. By target I mean the true label input to the cross entropy loss.

[2017-09-30 17:14] Jean-Baptiste-Camps commented on #5
I don't know for Pytorch, but, in my experience, installing Tensorflow from requirements.txt with pip works fine these days (that is, if you don't want to compile it from source yourself).

[2017-09-30 17:18] Jean-Baptiste-Camps commented on #10
Adding lrate to config would be great, I think, also because it will be easier to manipulate it and benchmark different values. I'm tempted to try very high lrate now, seeing the results it might give in some cases. Note that when the model is saved, the value of learning rate should be the current one, I think, not the original config one, if we want to resume training from exactly where it was w

[2017-09-30 17:21] emanjavacas opened #42 "Different embedding matrices for token and lemma characters"
Currently, there are different embedding matrices for token and lemma characters. This is not a huge increase in model params, since the char vocab is typically very small, but it is probably wasteful in terms of updates. I can imagine that using the same embedding space for both could help...

[2017-09-30 17:24] Jean-Baptiste-Camps commented on #39
Yeak, I like the drawing too ! Could we give it an eye ? Perhaps a monocle ?

[2017-10-01 09:23] emanjavacas opened #43 "Document model output"
I am having a hard time to find out what the model output should be during training and testing. Unfortunately, the docstrings aren't helping.
For instance, for the lemmas at training time. Docstring says:
[code]
But if I print it looks like it is taking rather class probabilities...

[2017-10-01 10:36] mikekestemont commented on #43
You mean the output of the predict fn?

On Sun, Oct 1, 2017 at 11:23 AM, Enrique Manjavacas <
notifications@github.com> wrote:

[2017-10-01 10:37] emanjavacas commented on #41
I am not sure but to me it looks like `'$'` is sometimes used as padding and sometimes as end-of-sequences symbol.

See here: https://github.com/hipster-philology/pandora/blob/master/pandora/preprocessing.py#L567
but here: https://github.com/hipster-philology/pandora/blob/master/pandora/preprocessing.py#L144

[2017-10-01 10:59] emanjavacas commented on #43
For the different tasks - lemma, pos. I think I've figured out (it's the class probabilities in batch-first order). But we should document it.

[2017-10-01 11:00] mikekestemont commented on #43
Ok, we can talk about this tomorrow and I'll fix the documentation.

On Sun, Oct 1, 2017 at 12:59 PM, Enrique Manjavacas <
notifications@github.com> wrote:

[2017-10-01 11:02] emanjavacas opened #44 "Monitoring of scores"
This is just to keep track of model improvements.

Currently, pytorch model with default params in 3 epochs achieves:

::: Train scores (lemmas) :::
+	all acc: 0.6419
+	kno acc: 0.6419
+	unk acc: 0.0
::: Dev scores (lemmas) :::
+	all acc: 0.63
+	kno acc: 0.8316831683168316
+	unk acc: 0.14334470989761092
::: Train scores (pos) :::
+	all acc: 0.8663
+	kno acc: 0.8663
+	unk acc: 0.0
::: Dev scores (p

[2017-10-01 11:13] PonteIneptique commented on #44
Note that this has been outsourced to the log class

Le 1 oct. 2017 1:02 PM, "Enrique Manjavacas" <notifications@github.com> a
écrit :

[2017-10-01 11:18] emanjavacas commented on #44
Ah, sure. I meant this more in the sense of monitoring the current model performance on the latin data. To check for future architecture improvements.

[2017-10-01 11:20] emanjavacas commented on #38
Cool. I think we are good to merge. Pytorch model is learning. I will create the PR and let's see how painful it is to merge.

[2017-10-01 11:26] PonteIneptique commented on #44
My bad :)

[2017-10-01 11:42] mikekestemont commented on #42
I see why this could speed things; however, I also believe that this should
be something that we can switch off, because we cannot exclude the
situation that token and lemma use different alphabets, right?

On Sat, Sep 30, 2017 at 7:21 PM, Enrique Manjavacas <
notifications@github.com> wrote:

[2017-10-01 11:42] mikekestemont commented on #41
Yes, I agree that the whole system is too brittle right now: can you make a
suggestion as to which symbols we could use?

On Sun, Oct 1, 2017 at 12:37 PM, Enrique Manjavacas <
notifications@github.com> wrote:

[2017-10-01 12:04] emanjavacas commented on #41
I think the actual values don't matter as long as they are rare enough to
not appear in the original vocab. The point is more about making them
package level constants somewhere in a utils file

On 1 Oct 2017 1:42 p.m., "Mike Kestemont" <notifications@github.com> wrote:

[2017-10-01 12:05] emanjavacas commented on #42
Let's make this low priority, then.

On 1 Oct 2017 1:42 p.m., "Mike Kestemont" <notifications@github.com> wrote:

[2017-10-01 16:05] emanjavacas commented on #11
some thing to be done here?

[2017-10-01 16:07] emanjavacas commented on #1
I think it's hard to say in a general way. We should go class by class and check. Perhaps there is something like a docstring linter to check for formatting errors?

[2017-10-01 16:09] emanjavacas commented on #5
For pytorch it wont work as smoothly. Actually, in my experience it doesn't work so smoothly for TF as soon as you want something fancier (particular cuda version). I'd be in favor of sending future users to either website and come back for further installation instructions.

[2017-10-01 16:13] emanjavacas commented on #44
No worries. On a second thought, it might make more sense to move this to a google sheet or similar, since it also depends on the input parameters...

[2017-10-01 16:31] PonteIneptique commented on #44
Tips : we could use the CSV export of the logging class to allow a fine grain evaluation as it records in a table each epoch.

[2017-10-01 16:40] emanjavacas commented on #44
That's cool. I'll have a look at it after the merge.

2017-10-01 18:31 GMT+02:00 Thibault Clérice <notifications@github.com>:

--
Enrique Manjavacas.

[2017-10-01 16:52] PonteIneptique opened #46 "Add back Logger to Tagger"
Add back the functions here : https://github.com/hipster-philology/pandora/pull/30

[2017-10-01 19:07] emanjavacas commented on #46
should be fixed by 501ee59. But we need to check

[2017-10-01 19:29] emanjavacas opened #47 "How to handle gpu"
We should pass params to the model defining whether to use gpu and which gpu to use.

[2017-10-02 07:09] PonteIneptique opened #48 "Cannot run PyTorch"
Message I have when running the cli

[code]

Pip Freeze
[code]

[2017-10-02 07:11] PonteIneptique commented on #48
Following on this :
[code]

[2017-10-02 07:12] mikekestemont commented on #48
is this the most recent version of numpy?

On Mon, Oct 2, 2017 at 9:11 AM, Thibault Clérice <notifications@github.com>
wrote:

[2017-10-02 07:15] PonteIneptique commented on #48
I simply wrote the list of issue and just proposed a fix ;)

[2017-10-02 07:16] PonteIneptique commented on #47
Could we have by default some kind of autodetect ? This would make sense for the CLI at least.

[2017-10-02 07:21] emanjavacas commented on #47
Sure, it could be part of the model interface, since this is framework
dependent.

On 2 Oct 2017 9:16 a.m., "Thibault Clérice" <notifications@github.com>
wrote:

[2017-10-02 07:23] PonteIneptique opened #50 "Auto-compute max_lemma_len"
It might be an issue with my old config but it seems max lemma len was not in my config.
I would propose to have it computed automatically on "auto" value in the config.

[2017-10-02 07:27] PonteIneptique commented on #47
I might have an issue with GPU actually :
[code]

when setting gpu to True

[2017-10-02 07:56] emanjavacas commented on #47
I haven't tested on the GPU yet. I will work on that and hopefully we will
have a way to do GPU detection for the interface

On 2 Oct 2017 9:27 a.m., "Thibault Clérice" <notifications@github.com>
wrote:

[2017-10-02 09:05] #48 closed, assigned to nobody

[2017-10-02 10:23] emanjavacas commented on #47
I've added discovery mechanism to pytorch model

[2017-10-02 10:23] #47 closed, assigned to nobody

[2017-10-02 10:32] #46 closed, assigned to nobody

[2017-10-02 12:29] Jean-Baptiste-Camps opened #51 "predict() got an unexpected keyword argument 'batch_size'"
Trying to train with a PyTorch model, I encounter this error at the time of evaluation

[code]
Indeed, if we go to pandora/impl/base_model.py, l. 125,

[code]

does not have the batch_size argument.

[2017-10-02 12:34] Jean-Baptiste-Camps commented on #16
Just to quickly confirm: I still have this problem training with model = Keras. I tested two different data sets this time.

[2017-10-02 12:42] emanjavacas commented on #51
what is the script you are using to run this?

[2017-10-02 12:57] Jean-Baptiste-Camps commented on #51
I am using this:
[code]
with the current master version.

[2017-10-02 13:03] Jean-Baptiste-Camps commented on #51
Great, it seems to work now.

[2017-10-02 13:03] emanjavacas commented on #51
It looks like the only place where `predict(..., batch_size)` is being used is here https://github.com/hipster-philology/pandora/blob/master/pandora/tagger.py#L369 and then the value passed is just the default from the tagger class. Therefore, the current use. We might have a use for applying different bacth size during prediction (since then the batch size there doesn't have an influence in perfo

[2017-10-02 13:05] emanjavacas commented on #51
In a side note, what are the reasons for having `main.py`, `unseen.py` and `train.py` as different scripts? The first two are actually the same, as far as I can see.

[2017-10-02 13:16] mikekestemont commented on #51
This is a result from the merge operation that should be settled: I'm
guessing main.py should become obsolete.

On Mon, Oct 2, 2017 at 3:05 PM, Enrique Manjavacas <notifications@github.com

[2017-10-02 14:44] #38 closed, assigned to nobody

[2017-10-02 14:45] #44 closed, assigned to nobody

[2017-10-02 14:47] emanjavacas opened #52 "main.py, unseen.py, train.py"
@mikekestemont : This is a result from the merge operation that should be settled: I'm
guessing main.py should become obsolete.

[2017-10-02 14:52] PonteIneptique commented on #51
train.py should be replaced by the content of main.py though

[2017-10-02 14:59] emanjavacas commented on #51
I reopened this as a separate issue #52, llet's move the discussion over there!

[2017-10-02 14:59] #51 closed, assigned to nobody

[2017-10-02 15:30] emanjavacas commented on #41
solved by 1f169ea7ab7ca576fb580f150032a0ee3604b60e

[2017-10-02 15:30] #41 closed, assigned to nobody

[2017-10-02 15:32] mikekestemont commented on #41
very clean, thanks!

On Mon, Oct 2, 2017 at 5:30 PM, Enrique Manjavacas <notifications@github.com

[2017-10-02 16:04] emanjavacas opened #53 "Tests are currently not being passed"
There are some issues with `max_token_len` being None.
Additionally, there is a `save_params` call inside the tests that doesn't seem to have a correlate (anymore) in the model api. We should fix this... Could somebody check if there is still stuff missing after the merge?

[2017-10-02 17:04] PonteIneptique commented on #52
Main is what includes the train cli interface as of right now. Maybe we move this into train, and rename unseen to tagger or predict ? Might be clearer...

[2017-10-03 06:55] PonteIneptique opened #54 "Test scores are printed twice (once with Logger, once alone)"
[code]

[2017-10-03 06:56] PonteIneptique opened #55 "Epoch's evaluation takes an unusual long time"
Compared to previous Keras implementation, the evaluation takes a really long time (on GPU). It takes few minutes to evaluate while it takes ~ 30/35 seconds to train...

This could be related to #54. Could it be things are run twice ?

[2017-10-04 05:19] PonteIneptique commented on #55
So I definitely can confirm there is an huge issue of performance here : it usually took me 30 to 40 minutes on GPU to train a whole network for medieval French (200k tokens, 150 epochs). The PyTorch model ran for the whole night (9PM-7.18AM) and I am only at epoch 88.

[2017-10-04 05:23] PonteIneptique commented on #55
Additional notes : the overall epoch fitting takes a little more time, 27s instead of 17s. But I don't think this explain the whole efficiency drop.

[2017-10-04 05:26] PonteIneptique commented on #55
Configuration for more details :

[code]

[2017-10-04 05:50] PonteIneptique commented on #55
It takes more or less 20 minutes to eval scores.

Ideas of where we might lose performances :
- Batch Size. I am thinking we do not need batch size on testing/eval. Maybe by running everything at once, it'd perform a little better
- GPU to CPU conversion. Memory transfer could be an issue. I have no idea how to deal with this one. Right now we are converting each value one by one. Maybe there is a

[2017-10-04 07:35] PonteIneptique opened #56 "Performance Drop between Keras and PyTorch on Medieval French"
Based on the data set of @Jean-Baptiste-Camps : https://docs.google.com/spreadsheets/d/1uSnLrkouxCkHIzZqr0nTR7-u75WuW2dtXs-Opuywl7A/edit?usp=sharing

Not all epoch have been run. Before I used to run only 100 epochs on Chrestien. Maybe I have badly set the max_len_lemma (?). But it clearly shows superiority of Keras model over PyTorch. It outperforms it starting epoch 25.

[2017-10-04 07:42] PonteIneptique commented on #50
This is already taken care of in https://github.com/hipster-philology/pandora/blob/master/pandora/preprocessing.py#L392-L395

But the fact it loads data as int cf. https://github.com/hipster-philology/pandora/blob/master/pandora/tagger.py#L114-L115 for to write 0 as a value here for it to be autocomputed. I'd propose to make a default of 0

[2017-10-04 07:44] PonteIneptique commented on #50
Actually to be safe, it's better to keep it as None

[2017-10-04 07:55] PonteIneptique opened #58 "Param dict is not loaded ?"
It seems that param dict is not loaded anymore according to test results in https://travis-ci.org/hipster-philology/pandora/builds/283083635 and some code reading

Issue related to #50 and #53 (potentially #56)

[2017-10-04 07:56] emanjavacas commented on #56
Thanks for the report. I can't understand the file very well, but it looks like an effect of using different optimizers and not doing any hyperparameter tuning (which you will have to do for a difference to be relevant). I also assume this is without using the generation approach to lemmatization, which is where the PyTorch model should shine.
For now we should perhaps focus on debugging the other

[2017-10-04 08:02] emanjavacas commented on #55
I will try to reproduce this. I haven't encountered the issue (same with #54) running on `train.py`. Could you try to debug a bit starting from there?

With respect to your ideas, I have already referred to a) and c) somewhere else. Basically, during inference you want as high a batch_size as you can afford, since it doesn't have an effect on the output (tagging), same doesn't apply during trainin

[2017-10-04 08:04] PonteIneptique commented on #58
Potentially fixed in #57

[2017-10-04 08:08] emanjavacas commented on #54
Can't reproduce this. Could you tell me how you started the script?

[2017-10-04 08:09] PonteIneptique commented on #54
`pandora-train config_chrestien.txt --dev data/chrestien/dev --train data/chrestien/train --test data/chrestien/test --eval_file chrestiens_pos_logs_pytorch.csv`

[2017-10-04 08:10] PonteIneptique commented on #56
Config file is here :

[code]

[2017-10-04 08:12] emanjavacas commented on #56
Still the config file doesn't cover optimization method, learning rate, learning rate schedule, etc...
Once we have solved the issues I can have a go and try to optimize the model on your data (if you want).

[2017-10-04 08:14] emanjavacas commented on #54
Mmhhh, sorry but I am not sure where this `pandora-train` is coming from...
have you an alias for it?

2017-10-04 10:09 GMT+02:00 Thibault Clérice <notifications@github.com>:

--
Enrique Manjavacas.

[2017-10-04 08:15] mikekestemont commented on #54
this naming stuff should be resolved through the uniformization of the cli
scripts?

On Wed, Oct 4, 2017 at 10:14 AM, Enrique Manjavacas <
notifications@github.com> wrote:

[2017-10-04 08:15] PonteIneptique commented on #54
This alias is just coming from here https://github.com/hipster-philology/pandora/blob/master/setup-gpu.py#L35-L40 which should be the default way to load in a cli (the methods, not the alias)

[2017-10-04 08:16] mikekestemont commented on #56
perhaps, to compare (and also for unit testing?), we should add a small
open source corpus that we can ship with the repo?

On Wed, Oct 4, 2017 at 10:12 AM, Enrique Manjavacas <
notifications@github.com> wrote:

[2017-10-04 08:17] PonteIneptique commented on #56
I think the Chrestien corpus is open source, but you'll have to ask Mr @Jean-Baptiste-Camps

[2017-10-04 08:17] PonteIneptique commented on #56
One of the thing we could do is have a repository for demo corpora ...

[2017-10-04 08:18] mikekestemont commented on #56
yes, and especially for trained models, so that it becomes useable for ppl
without machines for the heavy lifting during training: a "model zoo" as
they call it.

On Wed, Oct 4, 2017 at 10:17 AM, Thibault Clérice <notifications@github.com>
wrote:

[2017-10-04 08:20] PonteIneptique commented on #55
If you have not encountered this issue, I could think it comes from the test corpora, as if you were using train.py, there was no use of test corpora...

[2017-10-04 08:20] PonteIneptique commented on #55
It could come*

[2017-10-04 08:27] emanjavacas commented on #54
Ok, thanks. I can't install setup-gpu.py because of this error `error: Could not find suitable distribution for Requirement.parse('tensorflow-gpu==1.1.0')`. After installing/building setup.py I am still not getting the executables. Do you have an idea why? (I am not using virtualenv, just for completeness).
It still feels a bit of a workaround since all we are doing at the end is calling a script.

[2017-10-04 08:30] PonteIneptique commented on #54
it should not be an issue if you use the current main.py which uses the same exact client. It might lessen your pain with the setup file. `python main.py` is the equivalent for now of `pandora-train`. Note that after https://github.com/hipster-philology/pandora/pull/59 is merged, `python train.py` will be the equivalent of `pandora-train`.

I only use `python setup.py or setup-gpu.py develop` in v

[2017-10-04 08:33] emanjavacas commented on #54
main.py throws
`Traceback (most recent call last):
  File "main.py", line 6, in <module>
    cli_train()
  File "/home/manjavacas/code/python/pandora/pandora/cli.py", line 144, in
cli_train
    train_func(**vars(parser.parse_args()))
  File "/home/manjavacas/code/python/pandora/pandora/cli.py", line 94, in
train_func
    tagger.setup_to_train(**data_sets)
  File "/home/manjavacas/code/python/pando

[2017-10-04 08:34] PonteIneptique commented on #54
Take a look at the two PR, that should solve those issues.

[2017-10-04 09:35] #53 closed, assigned to PonteIneptique

[2017-10-04 09:38] #52 closed, assigned to PonteIneptique

[2017-10-04 09:39] mikekestemont opened #60 "config dir"
it's useful to have example config files but they clutter the topdir a little. @Jean-Baptiste-Camps should we move into a toplevel dir of their own?

[2017-10-04 09:40] mikekestemont commented on #15
can I close this @emanjavacas ?

[2017-10-04 09:49] #37 closed, assigned to mikekestemont

[2017-10-04 09:52] PonteIneptique commented on #55
I added a branch to keep track of what's going on with predict :
[predict.txt](https://github.com/hipster-philology/pandora/files/1355302/predict.txt)
 I force batches of size 1000 on purpose. Predict takes gradually more time apparently and stabilize around 0.40 which amounts to 69s more or less.

I guess having batches of size 100 is pretty bad for predict... Maybe we introduce a batch_size_pred

[2017-10-04 09:53] #40 closed, assigned to nobody

[2017-10-04 09:53] PonteIneptique commented on #55
Code for eval : https://github.com/hipster-philology/pandora/blob/eval-drop-perfomance/pandora/impl/pytorch/model.py#L368-L370

[2017-10-04 10:06] emanjavacas commented on #15
I think there still unresolved issues here, the float,int thing especially:

`I am still wondering about the float issue. Currently lemma targets are encoded as floats (so I have to convert back to ints inside the pytorch model (which isn't too nice). You said, keras needs floats for the cross-entropy loss, but how come all other targets (pos and morph) do get ints? Their losses is also a crossent

[2017-10-04 10:30] emanjavacas commented on #55
Thanks for the checks, I will look into this in more detail. There is an issue preventing me from debugging this. After the merges, I can't run any script as I keep getting:

[code]

command being: `python train.py config_12c.txt --train data/capitula_classic/ --dev data/capitula_classic/`

[2017-10-04 16:22] Jean-Baptiste-Camps commented on #56
Hi everyone, I had started to write an issue on this exact same topic yesterday, because I noticed the performance drop as well on another corpus I have (old provençal), but did not find time to finish writing it.

It actually isn't just a problem of performance, but also of training behaviour: with PyTorch, instead of the steady improvement we have with Keras, it happens that after some number of

[2017-10-04 16:53] Jean-Baptiste-Camps commented on #60
We could cerrtainly have a `config_examples` dir, or something equivalent. Another question is: should we exclude (most of) them from the git repository ? For now, I have stopped to commit my various configurations (Chrestien, Montferrand, etc.), not to drown the repository in them. What do you think ?

[2017-10-05 06:25] PonteIneptique opened #61 "Information to everyone : code of conduct regarding direct push"
Dear all,
I think it would be better to enforce, for everyone, the need to go through PR. I am willing to enact this by setting up the repo for this (github allows to block push to specific branch). I think it would allow a more streamlined development and also allows people to be aware of changes. The four or five of us are active enough to get back in an acceptable timeframe to merge the PR.

Ar

[2017-10-05 06:33] mikekestemont commented on #61
sure.

On Thu, Oct 5, 2017 at 8:25 AM, Thibault Clérice <notifications@github.com>
wrote:

[2017-10-05 06:39] Jean-Baptiste-Camps commented on #61
Certainly.

[2017-10-05 06:51] PonteIneptique commented on #61
Good :) I propose to put reviews as necessary before merge as well.

[2017-10-05 07:25] #61 closed, assigned to Jean-Baptiste-Camps, mikekestemont, emanjavacas

[2017-10-05 09:29] PonteIneptique commented on #58
Fixed by #57

[2017-10-05 09:29] #58 closed, assigned to PonteIneptique

[2017-10-06 08:41] PonteIneptique commented on #60
I think we should gitignore *.txt file at root and have a config_example directory.
Alternatively, we also need to spawn git repository that demonstrate examples with config, built model as attached binary to release, and finally source data

[2017-10-06 17:28] Jean-Baptiste-Camps commented on #16
I have made a few rapid tests on this subject. Apparently, with this corpus,

+	len_out: 25845
+	len_labels: 1

this because len_labels is empty. I have this problem with two corpus, but it is not always happening, and I have a hard time figuring the source of the error.

It happens using
[code]

Any idea that might help debug this, @mikekestemont , @emanjavacas ?

[2017-10-06 17:51] Jean-Baptiste-Camps commented on #16
Ok, I think I located the issue, and understood the difference of behaviour.

The code in question is in pandora/impl/keras/model.py, in the predict function

[code]

When I train on lemma AND pos, `out` has the type `list` and is indeed of length 2, the same as labels.
BUT, when I train on lemma ONLY, `out` has the type `numpy.ndarray`, and a length equivalent to the number of token (let's say 25

[2017-10-07 16:40] #16 closed, assigned to nobody

[2017-10-09 15:36] emanjavacas commented on #54
Just a reminder that the issue at the bottom of #55 is still there (even after those two PRs). I'd like to continue debugging the predict time issue, but I am gonna need a fix for this first.

[2017-10-09 16:37] Jean-Baptiste-Camps commented on #55
I think there might be a typo in your command, it's

[code]
Notice the absence of `/` at the end. That is supposing that your files are at the root of the folder `data/capitula_classic`, and that you are using the same exact files to train and dev. Otherwise,
[code]

[2017-10-09 16:38] Jean-Baptiste-Camps commented on #54
I think I might have identified the source of your difficulties in #55 (see there).

[2017-10-09 17:02] emanjavacas commented on #55
Trailing slashes in folder names are usually meaningless, so I doubt (and
can confirm) that this doesn't solve the issue. I image it has to do with
the way the data is loaded (the error hints at the fact that the input is
empty). The dataset I am working with used to work before the merge of the
last 2 PRs.
Regardless the current error I am having now, we really need a minimal
working example with

[2017-10-09 17:52] Jean-Baptiste-Camps commented on #55
Yes, that's why I thought it could be a problem of path. Also, I believed to have encountered an error at some point for including final `/` (though it's not causing an issue now).

This leaves the second point, detailing the path for train or dev up to the directory containing the .tab files for each (unless you are using the same .tab files for train and dev). On the other hand, if I try it, it

[2017-10-10 06:46] PonteIneptique commented on #54
A fix for this one is incoming.

[2017-10-10 13:13] PonteIneptique opened #64 "Additional corpora"
I opened a Wiki page about best methods for sharing corpora : https://github.com/hipster-philology/pandora/wiki/Sample-or-example-data-for-Pandora-:-contributing-a-repository

This is for your information.
To open a repository, juste create one or ask for the rights with the name of the repository you want to create

[2017-10-10 13:19] PonteIneptique commented on #64
I am gonna clean up issue #55 about this thing

[2017-10-10 13:22] PonteIneptique commented on #64
@emanjavacas

@Jean-Baptiste-Camps

@ponteineptique

@Jean-Baptiste-Camps

[2017-10-10 13:24] PonteIneptique commented on #55
Note : I moved some issues into #64 and #65

Please make sure to open issues when a separate bug arises. This keeps discussion clean and understandable

[2017-10-10 13:25] PonteIneptique opened #65 "Train.py not working anymore : self.max_token_len = len(max(tokens, key=len)) + 1"
From #55

[2017-10-10 13:25] PonteIneptique commented on #65
Written by @emanjavacas Oct 4

Thanks for the checks, I will look into this in more detail. There is an issue preventing me from debugging this. After the merges, I can't run any script as I keep getting:

[code]

command being: `python train.py config_12c.txt --train data/capitula_classic/ --dev data/capitula_classic/`

[2017-10-10 13:26] PonteIneptique commented on #65
Written by @Jean-Baptiste-Camps Oct 9

I think there might be a typo in your command, it's

[code]
Notice the absence of `/` at the end. That is supposing that your files are at the root of the folder `data/capitula_classic`, and that you are using the same exact files to train and dev. Otherwise,
[code]

[2017-10-10 13:26] PonteIneptique commented on #65
@emanjavacas Oct 9

@Jean-Baptiste-Camps Oct9

[2017-10-10 13:27] #54 closed, assigned to PonteIneptique

[2017-10-10 14:05] PonteIneptique commented on #60
Fixed by #66

[2017-10-10 14:05] #60 closed, assigned to nobody

[2017-10-10 14:06] Jean-Baptiste-Camps commented on #64
Trying to train on the sample corpus I added, I saw an old bug resurfacing when including morph, equivalent to #12 but on morph this time. I'll comment it here.

[2017-10-10 14:15] Jean-Baptiste-Camps opened #67 "Training with include_morph = label yiels TypeError: to_categorical() got an unexpected keyword argument 'nb_classes'"
This is similar to the bug described in #12 . When I launch training on the Geste sample data, with
[code]
in the config, I get the following error,
[code]

This does not happen, though, with
[code]
which seems to work quite fine (I'm actually impressed by the results obtained with this option).

[2017-10-18 11:07] mikekestemont commented on #55
@emanjavacas I can reproduce your error and will look into now.

[2017-10-18 11:09] PonteIneptique commented on #55
@mikekestemont Could it be this comment is about #65 ?

[2017-10-18 11:10] mikekestemont commented on #55
yes, i'll take to there.

On Wed, Oct 18, 2017 at 1:09 PM, Thibault Clérice <notifications@github.com>
wrote:

[2017-10-18 11:22] mikekestemont commented on #65
I located the error: in `train_func`, it is currently assumed that your files have a `.tab`extension which the capitula corpus have not. I will push a sanity check for this on a separate branch.

[2017-10-18 11:24] PonteIneptique commented on #65
I might say something stupid but would not in make sense to provide a glob.glob path to this instead of the current folder ?

ie `path/to/dev/**/*` ?

[2017-10-18 11:29] mikekestemont commented on #65
The code is now doing effectively the same, but the issue was that the CLI interface has a .tab extension hardcoded into, which is why it didn't load anything in the case described by @emanjavacas

[2017-10-18 11:29] #65 closed, assigned to nobody

[2017-10-18 11:31] PonteIneptique commented on #65
Please leave Issues open until merge of the fix next time :)

[2017-10-18 12:02] mikekestemont commented on #67
Can you close this, if the PR satisfactory @Jean-Baptiste-Camps ?

[2017-10-18 12:04] PonteIneptique commented on #67
You PRed the wrong repo @mikekestemont :)

[2017-10-18 16:54] #67 closed, assigned to nobody

[2017-10-18 16:54] PonteIneptique opened #70 "Single Label morph fails"
From #69

@Jean-Baptiste-Camps
[code]

[2017-10-19 14:04] #70 closed, assigned to nobody

[2017-10-19 14:20] Jean-Baptiste-Camps opened #74 "Error in annotating new data: Preprocessor' object has no attribute 'include_morph'"
When trying to annotate new data, with a model that includes morphology (label or multilabel), I encounter the following error:
[code]
Ignoring the final exception, it seems that the parameter `include_morph` is not available at this point. I started looking, but do not find the problem for now.

[2017-10-19 15:37] Jean-Baptiste-Camps commented on #74
Ok, apparently it is because the Preprocessor.load does not include morph, and I don't see it being saved either. Did we loose those functionalities at some point ?

[2017-10-20 06:10] PonteIneptique commented on #50
This was fixed in #57

[2017-10-20 06:10] #50 closed, assigned to PonteIneptique

[2017-10-20 06:15] PonteIneptique commented on #74
This is not a main issue fix but I have something to avoid this issue.
This comes down to variable not being set to None before the if,

[2017-10-20 06:28] PonteIneptique commented on #74
Looking at Preprocessor, it seems that the morph data is not persisted (I can't find a line like

[code]

as it's the case for lemma_encoder and pos_encoder.
[code]

[2017-10-20 10:32] Jean-Baptiste-Camps commented on #74
Solved by #75 .

[2017-10-20 10:32] #74 closed, assigned to nobody

[2017-10-22 11:18] Jean-Baptiste-Camps opened #77 "Probable bug with morph dev evaluation with single label ?"
I've encountered a likely bug in morph evaluation with single label (does not seem to happen with multilabel, as far as I can see), using Keras and convolutions. Here is the evaluation of an epoch :
[code]
I wonder what causes this strange behaviour…

[2017-10-23 06:35] PonteIneptique commented on #55
To add a little more background on this issue :
- 100-sized batches are processed really really fast in Keras
- 1000-sized batches are processed with the same amount of time in PyTorch

[2017-10-23 06:50] PonteIneptique opened #78 "Allow for a learning rate parameter"
Right now, LR - at least for PyTorch - is hardcoded.
It should be possible to define it in the model-config level file or in the class initiation.

[2017-10-23 06:56] PonteIneptique commented on #55
Regarding this, I think the best thing to do is to open a new parameter : test_batch_size for enhancing speed of eval without affecting the training batch_size

[2017-10-23 07:59] PonteIneptique opened #80 "Is PyTorch using the token embeddings ?"
Hi both,
I could not find any line using the token embeddings generated through Gensim in the PyTorch model. Did I miss the line or has there been a shift about using this (Or Gensim because I do see an Embedding)  ?

[2017-10-23 08:11] PonteIneptique commented on #80
If not, we should probably avoid running this, even if this is not important for memory in the end :)

[2017-10-23 08:45] emanjavacas commented on #80
I dont remember seeing pretrained embeddings in the keras model. Its a very
simple tweak in pytorch though so I can build it in if there is a model API
for it. I also must say that I doubt pretraining word embeddings on
pos-annotated corpora will have a benefit (given the small size of such
corpora), but itd be cool to be able to load pretrained embeddings on
bigger corpora.
On Mon 23. Oct 2017 at

[2017-10-23 08:46] emanjavacas commented on #78
There are many more params for the optimizer which could be added as well,
I didnt add any of them since I didnt see the option in the keras version
either
On Mon 23. Oct 2017 at 08:50, Thibault Clérice <notifications@github.com>
wrote:

[2017-10-23 08:58] PonteIneptique commented on #80
In Keras, the pretrained embedding is loaded here : https://github.com/hipster-philology/pandora/blob/master/pandora/impl/keras/model.py#L175-L179

I am not saying we need it, I was just wondering if there was a reason it was not there :)

It seems, according to @Jean-Baptiste-Camps, that fine tuning this parameter can give up to 3% improvement on lemma accuracy. Did I understand you well JB ?

[2017-10-23 09:00] PonteIneptique commented on #78
I could take of this one tbh so that we can configure SGD or Adam + Learning rate from the config file :
https://github.com/hipster-philology/pandora/blob/master/pandora/impl/keras/model.py#L175-L179

[2017-10-23 09:48] Jean-Baptiste-Camps commented on #80
Loading pretrained embeddings from a bigger corpora would be nice indeed. It would allow me to train them on the sum of whatever Old French texts I can find, and the use them on the smaller labeled corpora I have (whose size vary between 50 k and 3 000 k).

I did notice a difference, indeed, on a small corpus (a bit less than 50 k tokens) with variation in min_token_freq_emb (basically, setting it

[2017-10-23 09:52] Jean-Baptiste-Camps commented on #80
NB: on a more warning note, we should be cautious about what I just said, since I did not train the different models in the perspective of comparing the effects of this variation, so something else might be causing it.

[2017-10-23 10:08] PonteIneptique opened #81 "Develop a tuning toolkit"
General idea :

- [ ] tuning.py based on pandora.cli.tuning_cmd
- [ ] Runs a series of configs directly from the command line
- [ ] Loads a list of configs from a folder through --configs_dir configs/*.txt
- [ ] Keep the last evaluation score in a csv using the name of the config as a key
- [ ] Produce a CSV with learning curve to adapt where necessary the learning rate and other params

[2017-10-23 10:45] PonteIneptique commented on #81
Other idea :

The actual tuning.py could have a second option to generate such configs using a csv file :

[code]

[2017-10-23 10:53] emanjavacas commented on #81
Given a dev set there is nothing stopping us from doing hyperparameter
optimization. There are a couple of non-bayesian methods worth trying and
offering them for people with GPUs and time to invest in squeezing the most
out of their data. Things like hyperband or successive halving.
On Mon 23. Oct 2017 at 12:45, Thibault Clérice <notifications@github.com>
wrote:

[2017-10-23 11:45] PonteIneptique commented on #81
I am all for method-based hyperparameter optimization. The only thing is that it might take more time that just what I described. But please, if you find the time to do this one, I'd be glad to test it :)

[2017-10-23 12:26] PonteIneptique commented on #81
Note : we could also simply use existing libraries such as https://github.com/hyperopt/hyperopt

[2017-10-23 14:45] emanjavacas commented on #55
So I gather the issue was that evaluation was done with a very small batch size?

[2017-10-23 14:50] PonteIneptique commented on #55
It was definitely a question of batch size. The weird thing is that this was much much more efficient in Keras for some reason.

[2017-10-23 15:02] emanjavacas commented on #55
Mhh, could you elaborate? I still can't see why a small batch size would lead to exponentially increasing running time during evaluation (as shown in your file predict.txt).

[2017-10-23 15:06] PonteIneptique commented on #55
Keras somehow did not take as much time to eval with the same batch size. I have absolutely no idea what's the cause of it.

The one thing I did not check is if the network for eval was CPU or GPU. But even then... I don't see how that would create that much of a difference...

I know it's one way to fix this time consuming issue, I don't know where it comes from. Mostly because the training time

[2017-10-23 15:21] emanjavacas commented on #55
So, but then the running time wasn't growing exponentially but it was just
slower? If you were running on the CPU one reason might be that pytorch
(especially older versions) has been shown to be slower than other
engines...

2017-10-23 17:06 GMT+02:00 Thibault Clérice <notifications@github.com>:

--
Enrique Manjavacas.

[2017-10-23 15:22] PonteIneptique commented on #56
Closing this, as it is clear the hyper-parametrisation is much much different between both implementations.
The fun thing is that PyTorch seems to reach, for label not generate, much much faster local minima (but at good %age..)

[2017-10-23 15:22] #56 closed, assigned to nobody

[2017-10-23 15:24] PonteIneptique commented on #55
I know understand your question. It was both slower and growing. I did not evaluate if this growing eval time happened with the new test batch size. I am pretty sure it might. But it might not be as important because of the number of batches (?)

I am running everything on GPU though. Gotta use the best available part of the PC :)

[2017-10-23 15:32] emanjavacas commented on #55
Ok, then if running time is growing exponentially, we definitely need to
debug it. That should not happen. There is no reason why two consecutive
batches of the same size should take different time. Could you check if the
memory usage is also increasing?

2017-10-23 17:24 GMT+02:00 Thibault Clérice <notifications@github.com>:

--
Enrique Manjavacas.

[2017-10-27 19:45] Jean-Baptiste-Camps commented on #80
Just to say that I am making a few experiments on embeddings with one of the tagged corpus (the largest one, 3 M tokens), and the results seem to make quite a lot of sense (as do the TSNE visualization). Here is an example (I have kept Pandora's defaults for now, with only min_count set to 10):

[code]
There is still a few less expected ones (form of veoir or aimer with estre, but the similarity h

[2017-10-27 22:50] Jean-Baptiste-Camps commented on #80
Hmmm, looks promising at the first epoch
[code]

[2017-10-28 09:03] emanjavacas opened #85 "Allow for training without test set"
Currently, tagger.py wouldn't run unless you provide all three splits. Especially for fine-tunning is highly recommendable to not use the test set, since that would actually lead to overfitting on the test set (since you are getting feedback from your model's performance on the test set). You can of course set the test split to be the same as the dev, then you are running the same evaluation twice

[2017-10-28 09:08] emanjavacas commented on #78
I guess you mean a different snippet, right? that one is about embeddings.
But yes, feel free to move learning rate to the config file.

[2017-10-28 09:10] emanjavacas commented on #10
This is problematic with adaptive optimizers, since there you not only need the learning rate but also the accumulated gradient per parameter..., so you would have to either start afresh with a lower learning rate, or serialize the optimizer.

[2017-10-28 09:10] emanjavacas commented on #11
I believe this can be closed.

[2017-10-28 09:10] #11 closed, assigned to mikekestemont, emanjavacas

[2017-10-28 09:12] emanjavacas commented on #15
Any progress here?

[2017-10-28 09:15] emanjavacas commented on #85
I just saw there is the `include_test` param in the config file. I guess that's is redundant with the fact of actually providing a path for --test... we could get rid of that config param.

[2017-10-28 09:53] Jean-Baptiste-Camps commented on #85
In that case, we should do the same with `include_dev` too, right ?

[2017-10-28 10:04] emanjavacas commented on #85
yes, I think so

[2017-10-28 10:06] emanjavacas commented on #55
I've traced back an issue with pytorch training, which might be the culprit for what you were seeing. It affects training and not evaluation though. It is related to Adam and can't see right now why this is happening. Basically after a number of epoch, there is a sudden explosion in the size of the gradient and training slows down by a factor of 5. I've opened an issue in the pytorch discussion fo

[2017-10-28 10:19] emanjavacas opened #86 "Early Stopping"
We need to implement some kind of early stopping. Given the usually small size of the datasets, it's pretty easy to start overfitting damaging dev performance. I've noticed this already after less than 10 epochs on the geste dataset. Since we do multi-task learning, we should implement a weighting scheme to decide when to stop. This could be left for the user to decide, depending on which of the t

[2017-10-28 11:10] mikekestemont commented on #86
+1

[2017-10-28 11:13] mikekestemont commented on #15
I can have a look at this tomorrow.

[2017-10-28 17:09] emanjavacas opened #89 "Pretrained embeddings is a 3D tensor"
See here:
https://github.com/hipster-philology/pandora/blob/master/pandora/pretraining.py#L170-L177

I believe we should get rid of the brackets around the output in the last line:
[code]

should become:

[code]

[2017-10-28 17:22] mikekestemont commented on #89
I believe this is required for the keras model, but we can move the unsqueezing to there.

[2017-10-28 17:48] emanjavacas commented on #89
Yes, make it keras specific please. There are already too many things in the pytorch branch that are awkward because we are adopting keras formatting at a higher level.

[2017-10-29 13:25] Jean-Baptiste-Camps commented on #86
Just to say: the Geste dataset here is a very small sample, but I notice this also on the larger Chrestien corpus after 5 or so epochs.
![chrestien3_03](https://user-images.githubusercontent.com/1204247/32144161-f0604c26-bcb4-11e7-838a-d856fdb7dcbb.png)

[2017-10-29 13:28] emanjavacas commented on #86
Actually, your dev loss keeps going up, which  means it's still ok. You
might want to try to increase the dropout rate or decrease the total number
of parameters in the model. Generalization is one of the main problems in
machine learning, there are many recipes for it.

2017-10-29 14:25 GMT+01:00 Jean-Baptiste-Camps <notifications@github.com>:

--
Enrique Manjavacas.

[2017-11-01 14:27] PonteIneptique opened #90 "Add a linter for future work"
This would allow us to work with the same syntax.

I would advocate for rst's style docstrings in terms of settings. I find them much more readable and precise than Google's one :) Any other setting wished ?

[2017-11-01 14:33] PonteIneptique opened #91 "Decoding should be part of the model"
See https://github.com/hipster-philology/pandora/pull/87#issuecomment-340266996 from @emanjavacas

I'd move all the decoding logic inside the model (not just for the lemmas when generated), since implementing more complex decoding methods like beam search is hard to abstract because they need to interact with the model during decoding. PR's welcome.

[2017-11-01 14:39] PonteIneptique commented on #90
I just started configure Codacy.com

[2017-11-01 14:49] PonteIneptique commented on #90
Done

[2017-11-01 14:49] #90 closed, assigned to PonteIneptique

[2017-11-01 14:50] PonteIneptique commented on #64
Fixed by #66

[2017-11-01 14:50] #64 closed, assigned to nobody

[2017-11-02 21:02] mikekestemont commented on #90
For the existing docstrings I have adopted sklearn's conventions so far.

[2017-11-05 13:04] PonteIneptique opened #92 "Tagger.py fails with pytorch model"
I tried the tagger with 12c_x but it seems to have an issue loading the right implementation model :

[code]

[2017-11-05 13:05] PonteIneptique commented on #92
The bug seems to be that it tries to load PyTorch model through Keras.

[2017-11-05 13:08] PonteIneptique opened #93 "Share a Latin model ?"
Hey there :)
Would one of you be so kind to share a Latin model ? It seems my training (12c_pytorch) capped because of my dataset (The Perseus/Perseids Latin treebank data is very messy...). I am trying to evaluate some post-correction techniques but I'd like a model that performs a little better in `generate` mode

[code]

[2017-11-05 13:55] Jean-Baptiste-Camps commented on #93
By the way, I will work this afternoon on the presentation of Pandora for tomorrow (COSME workshop). I will mention results with Old French, but I'll gladly take anything you can send me in the way of results with Latin, etc., both with label and generate (I don't use this last one, so I don't have any feedback on it).

[2017-11-06 07:36] PonteIneptique commented on #92
I tracked down the bug : model= PyTorch is not exported to the modelIdr/config.txt :)

[2017-11-07 10:28] Jean-Baptiste-Camps opened #95 "Feedback on predictions"
It would be great, to be able to post-correct/verify faster, to have some feedback on the certainty level for the predictions.

For the label approaches, we could give out probabilities for predicted lemma, POS and morph.

We could also add a column signaling if the form was unknown, or if it is known to be ambiguous from the training data.

[2017-11-07 10:31] Jean-Baptiste-Camps opened #96 "Scoring: distinctions between known form/known label"
The evaluation scores would be more accurate if we distinguished between:
- unknown form of known lemma/label (that the tagger would have been able to find);
- unknown form of unknown lemma/label (impossible to find, except with generate);
- known form of unknown lemma/label (impossible to find, except with generate);
- known form of known lemma/label (the easy case).

[2017-11-07 10:54] #92 closed, assigned to nobody

[2017-11-07 11:47] PonteIneptique opened #97 "Latest PR broke tests"
It's my fault for not waiting the PR results...

@emanjavacas can you look at it since this is some code you added ? https://travis-ci.org/hipster-philology/pandora/builds/298499051

[2017-11-07 16:55] Jean-Baptiste-Camps opened #98 "Not lowercasing lemmata?"
I've observed in several contexts (including with my own corpus) that case may be significant in lemmata, usually to distinguish proper nouns (for instance, Sarrasin for the name of the people or of M. Sarrasin, by opposition to 'sarrasin' as a kind of corn…). Could we not lowercase lemma during processing ?
This might create a problem with generate approach, but not necessarily with label…

[2017-11-08 08:38] mikekestemont opened #99 "Generation broken?"
There seems to have occurred a breaking change with the generate option for lemmatization along the road, which prevents me from helping out with #93. Basically, the lemmatization accuracy stays at zero without postcorrect (which isn't normal), at saturates at ~66% with postcorrect (which isn't normal either). Any suggestions? This might related to the fix by @PonteIneptique that took care of not

[2017-11-08 08:43] PonteIneptique commented on #99
This means we have currently two (potentially unrelated) broken things :
- #97
- This one

I am not sure which change from me you are talking about ? If this relates to the external use of the "Logger" ( https://github.com/hipster-philology/pandora/pull/24/files ), if you see test results, even if they are equal to 0, it means this is tested. Plus, it's an opt-out parameter which means it should d

[2017-11-08 08:44] mikekestemont commented on #99
I think these issues come from the same problem.

[2017-11-08 08:45] PonteIneptique commented on #99
You did not specify which "model" you are using. PyTorch or Tensorflow ?

[2017-11-08 08:47] mikekestemont commented on #99
By default I talk about tensorflow because pytorch isn't ready for testing
yet. (What is the recommended way to set the model type/ backend in the
config right now? Perhaps this is the issue.)

[2017-11-08 08:47] PonteIneptique commented on #97
@emanjavacas It seems you coded with new formatted string from 3.6. I would prefer the codebase to remain 3.5 compliant at least for some time. Could you revert f-strings to .format() ones ?

[2017-11-08 08:48] mikekestemont commented on #97
I am actually in favor of f-strings along the way: what would be the
objective reason to stick to 3.5?

On Wed, Nov 8, 2017 at 9:47 AM, Thibault Clérice <notifications@github.com>
wrote:

[2017-11-08 08:49] PonteIneptique commented on #99
If you did not specify it, I think it defaults to tensorflow. But otherwise, here is an example : https://github.com/hipster-philology/pandora/blob/master/config_example/config_12c_pytorch.txt#L30

[2017-11-08 08:51] mikekestemont commented on #99
Ok. Thanks. I was planning to do a major revision of the base soon, to
avoid have to load the entire dataset in memory: the error would probably
emerge if I do this revision. Are there any major PRs on the way that I
should wait for?

On Wed, Nov 8, 2017 at 9:49 AM, Thibault Clérice <notifications@github.com>
wrote:

[2017-11-08 08:52] PonteIneptique commented on #97
The default on Ubuntu 16.04 is still 3.5 which means not well versed into python people that just want to try this out are gonna suffer from this. And in general, it's good to stay retro-compatible with the before-the-last version...

On another note, I don't like f-strings, but that's my opinion. To me they are something I would have preferred to see only in PhP because even if they are convenien

[2017-11-08 08:53] PonteIneptique commented on #99
Not that I know of.

[2017-11-08 08:57] mikekestemont commented on #97
But isn't Ubuntu at 17.10 already?

On Wed, Nov 8, 2017 at 9:52 AM, Thibault Clérice <notifications@github.com>
wrote:

[2017-11-08 08:59] PonteIneptique commented on #97
17.10 is not a LTS. 18.04 is Q1/Q2 2018 : https://www.ubuntu.com/info/release-end-of-life

And even when 18.04 is turning around, I doubt many people will turn to 18.04 that quickly. If this is only about cosmetic improvement, such as f-strings, I think we can just not use them :)

[2017-11-08 09:11] PonteIneptique commented on #93
Regarding #99, maybe you could use a previous release?

[2017-11-09 07:03] PonteIneptique commented on #97
Fix proposed in #101

[2017-11-24 20:49] emanjavacas commented on #80
I believe this can be closed

[2017-11-24 21:02] emanjavacas commented on #77
What is exactly the issue (apart from the weird but possible distribution of morph scores)?

[2017-11-24 21:27] Jean-Baptiste-Camps commented on #77
Maybe this needs further testing, but I think the issue is precisely the weird distribution of morph scores. I still have that kind of difference after 100 epochs, and on two different corpora.

[2017-11-24 21:28] Jean-Baptiste-Camps commented on #77
Not impossible, but that would be improbable, no ?

[2017-11-24 21:52] emanjavacas commented on #78
I've added #102 that adds an option for lr. I can extend it to also get an option for the optimizer type.

[2017-11-24 22:01] emanjavacas commented on #99
The pytorch branch does generate lemmas and works (accuracy increases over training).

[2017-11-24 22:18] emanjavacas commented on #77
Try comparing different parameter combinations, and also using the pytorch
model. If its indeed a code bug, chances are high that you see similar
behavior on other datasets as well. If you still see it, i’d ask for a
replicable example.
On Fri 24. Nov 2017 at 22:28, Jean-Baptiste-Camps <notifications@github.com>
wrote:

[2017-11-25 11:54] Jean-Baptiste-Camps commented on #99
Indeed, from the tests I have made on a small test corpus, the behaviour is different between PyTorch (where it works) and Keras (where there seems to be a problem). Also, epoch time is a lot longer with Keras (x5/6), but that might be something else.

[2017-11-27 18:32] PonteIneptique commented on #39
![image](https://user-images.githubusercontent.com/1929830/33282667-9ea10e0a-d3a9-11e7-8aba-ad4a93df853e.png)
![image](https://user-images.githubusercontent.com/1929830/33282680-a75a5c90-d3a9-11e7-9530-4287bced02ca.png)

[2017-11-27 20:45] PonteIneptique commented on #39
Which one do you prefer?

[2017-12-09 10:06] PonteIneptique commented on #97
Fixed by #101

[2017-12-09 10:06] #97 closed, assigned to emanjavacas

[2017-12-09 10:07] PonteIneptique opened #103 "Segmentation fault on travis"
Current build fails to build.
Most likely due to the fact that Pandora is trying to use 10 workers on a 2 or 3 threads (can't remember exactly) enabled machine. Will look into it

[2017-12-09 10:09] PonteIneptique commented on #5
Looking at the PyTorch install, I agree it won't be as smooth. I am therefore closing this issue.

What we need though is to make releases more often.

[2017-12-09 10:09] #5 closed, assigned to mikekestemont

[2017-12-09 10:10] PonteIneptique commented on #10
We need to take this over now that lr is being set up.

[2017-12-09 10:15] PonteIneptique commented on #39
Should we have a vote on this ?

[2017-12-09 10:16] PonteIneptique commented on #78
Fixed by #102

[2017-12-09 10:16] #78 closed, assigned to nobody

[2017-12-09 10:16] PonteIneptique opened #104 "Configuration of Optimizer (SGD or Adam) from configfile"

[2017-12-09 10:17] PonteIneptique commented on #98
It could be a parameter. I would definitely go with that as a parameter that would be True by default.

[2017-12-09 10:23] PonteIneptique commented on #85
I think this has been fixed by `setup_from_disk` but I might be wrong

[2017-12-09 10:25] PonteIneptique commented on #10
@Jean-Baptiste-Camps what's your status with the current fix ?

[2017-12-09 10:25] PonteIneptique commented on #2
I think we can close this. :)

[2017-12-09 10:25] #2 closed, assigned to PonteIneptique

[2018-04-28 10:05] PonteIneptique commented on #99
Hey @mikekestemont . Any update on your major revision ? I saw your new Pie repository, is it related to Pandora ? :)

[2018-04-29 06:51] #103 closed, assigned to PonteIneptique

[2018-04-30 10:03] mikekestemont commented on #99
Yes, I am working with Enrique on a new approach to the tagging (at the level of complete sentences) in that new repository. However, the setup is so radically different than what we have now in Pandora that we first wanted to test the viability of the idea outside the main repository. We will keep you posted if anything comes out!